@model NewsWebsite.Models.NewsIndexViewModel

<link rel="stylesheet" href="~/css/style.css" />

<style>
    .last_list a:visited {
        color: white;
    }
</style>

<div class="block1">
    <div class="list_block">
        <ul class="list">
            @for (int i = 0; i < Model.FiveTags.Count; i++)
            {
                <li>
                    @Html.ActionLink(Model.FiveTags[i].Name, "AllNews", null, new { tagId = Model.FiveTags[i].Id })
                </li>
            }
        </ul>
    </div>
    <span class="actual">Актуально</span>
    <div class="slider_block">
        <ul class="lazy slider">
            @for (int i = 0; i < Model.FiveLatestNews.Count; i++)
            {
                <li>
                    <a href="@Url.Action("News", "News", new { newsId = Model.FiveLatestNews[i].Id })">
                        <img src="@Model.FiveLatestNews[i].TitleImagePath" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="block2">
    <span class="last_text">Останні новини</span>
    <div class="last">
        <ul class="last_list">
            @for (int i = 0; i < Model.TenLatestNews.Count; i++)
            {
                <li class="news_date">
                    @Model.TenLatestNews[i].DateAdded.ToString("dd MMMM HH:mm", System.Globalization.CultureInfo.CreateSpecificCulture("uk-UA"))
                </li>
                <li class="news">
                    @Html.ActionLink(Model.TenLatestNews[i].Title, "News", null, new { newsId = Model.TenLatestNews[i].Id })
                </li>
            }
        </ul>
    </div>
    <div class="blur"></div>
    <span class="all">
        @Html.ActionLink("Усі актуальні новини", "AllNews")
    </span>
</div>

