@model SpecificNewsViewModel

<style>
    .last_list a:visited {
        color: white;
    }
</style>

<link rel="stylesheet" href="~/css/style_stat.css" />

<div class="block1">
    <h1>@Model.News.Title</h1>
    <div class="img">
        @for (int i = 0; i < Model.RelatedTags.Count; i++)
        {
            var tagName = Model.RelatedTags[i].Name;
            if (Model.RelatedTags[i] != Model.RelatedTags.Last())
            {
                tagName = tagName + " | ";
            }
            <a href="@Url.Action("AllNews", "News", new { tagId = Model.RelatedTags[i].Id })">@tagName</a>
        }
    </div>
    <img src="~/img/tim.png" />

    <p class="text">
        @Model.News.Content
    </p>
</div>
<div class="block2">
    <span class="last_text">Останні новини</span>
    <div class="last">
        <ul class="last_list">
            @for (int i = 0; i < Model.TenLatestNews.Count; i++)
            {
                <li class="news_date">
                    @Model.TenLatestNews[i].DateAdded.ToString("dd MMMM HH:mm", System.Globalization.CultureInfo.CreateSpecificCulture("uk-UA"))
                </li>
                <li class="news">
                    @Html.ActionLink(Model.TenLatestNews[i].Title, "News", null, new { newsId = Model.TenLatestNews[i].Id })
                </li>
            }
        </ul>
    </div>
    <div class="blur"></div>
    <span class="all">
        @Html.ActionLink("Усі актуальні новини", "AllNews")
    </span>
</div>
