@model NewsWebsite.Models.NewsViewModel

@{
    ViewData["Title"] = "Деталі новини";
}

<h1>Деталі новини</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleImagePath)
        </dt>
        <dd class = "col-sm-10" >
            <img src="@Model.TitleImagePath" style="object-fit: fill; width: inherit; height: inherit"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a class="btn btn-sm btn-primary" asp-action="Index">Повернутись до списку</a>
</div>
